body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    display: block;
    margin: auto;
}

.element {
    max-width: 80%;
    justify-content: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

h1 {
    display: block;
}

h3 {
    display: block;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    top: 200px;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 40px;
}

td {
    text-align: center;
    padding: 10px;
}

form {
    margin-top: 200px;
}

form_update {
    margin-top: 50px;
}

input {
    display: block;
    margin: auto;
    max-width: 40%;
}

#content {
    width: 70%;
}

